
.fileTable {
    margin: 50px;
}

.fileTable .head {
    text-align: center;
}

.fileTable .body{
    text-align: center;
}

@media(max-width: 573px){
    .fileTable{
        display: flex;
        flex-wrap: wrap;
        width: 473px;
    }
}