.home {
    margin: 30px;
}

.homeTitle{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    border-bottom: 2px solid rgb(21, 4, 51);
}

.homeSubTitle1{
    display: flex;
    padding-top: 30px;
}

.homeSubTitle1ButtonDetail{
    background-color: rgb(186, 186, 186);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: none;
    border-radius: 7px;
    margin-left: 15px;
}